/* *********************  六边形  ************************ */
/* .hexagon {
    position: relative;
    width: 50px;
    height: 86.6px;
    margin: 50px auto;
    background-color: white;
}
.hexagon:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    right:50px;
    border-width: 43.3px 25px;
    border-style: solid;
    border-color: transparent white transparent transparent;
}
.hexagon:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left:50px;
    border-width: 43.3px 25px;
    border-style: solid;
    border-color: transparent transparent transparent white;
    top:0;
} */

/* .hex {
    position: relative;
    margin: 1em auto;
    width: 6em;
    height: 10.392em;
    border-radius: 0.5em/.2em;
    background: orange;
    transition: opacity .5s;
}

.hex:before,
.hex:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: '';
}

.hex:before {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

.hex:after {
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
} */



.box1,
.box2,
.box3 {
    width: 200px;
    height: 250px;
    overflow: hidden;
}

.box1 {
    transform: rotate(120deg);
    margin-left: 10px;
}

.box2 {
    transform: rotate(-60deg);
}

.box3 {
    transform: rotate(-60deg);
    text-align: center;
    background-color: white;
}

.box3 img {
    width: 50%;
    margin-top: 30%;
}


.box3:hover {
    background-color: #3C9354;
    color: white;
}

.img_W {
    display: none;
}


/* #my-img:hover {
    content: url('http://dummyimage.com/100x100/eb00eb/fff');
} */